{% if settings.display_preloader %}
     <style>
          /**
               Pre-loader
          **/
          .ttloader {
               height: 100%;
               left: 0;
               position: fixed;
               top: 0;
               width: 100%;
               z-index: 999999;
          }
          .rotating {
               background-position: center center;
               background-repeat: no-repeat;
               bottom: 0;
               height: auto;
               left: 0;
               margin: auto;
               position: absolute;
               right: 0;
               top: 0;
               width: 100%;
          }
     </style>

     <div class="ttloader">
          <span class="rotating"></span>
     </div>

     <script>
          $(window).on('load', function () {
               $(".ttloader").fadeOut("slow");
          });
     </script>
{% endif %}