{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="page-content-wrapper">
     <div class="account-wrapper">
          {% section 'account-nav' %}
          {% section 'account-dashboard' %}
     </div>
</div>
