{{ 'template-customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

<div class="page-content-wrapper">
     <div class="account-wrapper">
          {% section 'account-nav' %}
          {% section 'account-addresses' %}
     </div>
</div>
