<div class='hello'></div>

{% schema %}
{
     "name": "Account Register",
     "class": "page-content register-section",
     "settings": [

     ],
     "blocks": [

     ],
     "presets": [
          {
               "name": "Account Register",
               "category": "Text"
          }
     ]
}
{% endschema %}