{% if page.content != blank %}
     <link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">

     <noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>

     <h2 class="main-title">
          {{ page.title | escape }}
     </h2>
     <div class="main-content">
          {{ page.content }}
     </div>
{% else %}
     <style>
          .page-content.main-page {
               display: none;
               visibility: hidden;
          }
     </style>
{% endif %}

{% schema %}
{
     "name": "t:sections.main-page.name",
     "tag": "section",
     "class": "page-content main-page"
}
{% endschema %}

