.mobile-menu-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 5;
     width: 100%;
     height: 100vh;
     display: none;
}

.mobile-menu-wrapper.open {
     display: block;
}

.mobile-menu-header {
     width: 100%;
     padding: 10px 5px;
     height: 50px;
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;

     --animate-duration: 200ms;
}

.mobile-menu-header i {
     font-size: 2rem;
}

.mobile-menu-header .left-side {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     height: 100%;
     width: 33.33%;
     padding-left: .25rem;
}

.mobile-menu-header .center-side {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     width: 33.33%;
}

.mobile-menu-header .center-side .logo {
     height: 100%;
}
.mobile-menu-header .center-side .logo > a {
     height: 100%;
     display: block;
}
.mobile-menu-header .center-side .logo > a > img {
     height: 100%;
}

.mobile-menu-header .right-side {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     height: 100%;
     width: 33.33%;
     gap: 2rem;
     padding-right: .25rem;
}

.mobile-menu-header .btn {
     background-color: transparent;
     border: none;
     padding: 0 .5rem;
}

.mobile-menu-wrapper .mobile-menu-header .navigation-icon {
     -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
     -ms-transform: rotate(0);
     -o-transform: rotate(0);
     transform: rotate(0);
     -webkit-transition: transform 5s ease-in-out 0s;
     -moz-transition: transform 5s ease-in-out 0s;
     -ms-transition: transform 5s ease-in-out 0s;
     -o-transition: transform 5s ease-in-out 0s;
     transition: transform 5s ease-in-out 0s;
}

.mobile-menu-wrapper.open .mobile-menu-header .navigation-icon {
     -moz-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     transform: rotate(180deg);  
     -webkit-transition: transform 5s ease-in-out 0s;
     -moz-transition: transform 5s ease-in-out 0s;
     -ms-transition: transform 5s ease-in-out 0s;
     -o-transition: transform 5s ease-in-out 0s;
     transition: transform 5s ease-in-out 0s;
}

.mobile-menu-content {
     position: relative;
     width: 100%;
     height: calc(100vh - 50px);

     background-color: rgba(0, 0, 0, .9);
     overflow-y: auto;
}

.menu-drawer {
     width: 70%;
     height: auto;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     min-height: 100vh;
     padding-bottom: 5rem;
     position: relative;
     background-color: rgb(var(--color-background));

     --animate-duration: 200ms;
}

.menu-drawer .title {
     padding: 1rem;
     font-size: 1.3rem;
     font-weight: bold;
}

.menu-drawer .menu-list,
.menu-drawer .child-list {
     margin: 0;
     padding: 0;
     list-style: none;
     display: flex;
     flex-direction: column;
     gap: .25rem;
     height: 100%;
     width: 100%;

     background-color: rgb(var(--color-background));
     overflow: hidden;

     --animate-duration: 200ms;
}

.menu-drawer .menu-list > li,
.menu-drawer .child-list > li {
     font-size: 1.2rem;
     display: flex;
     justify-content: space-between;
     width: 100%;
}

.menu-drawer .menu-list > li:not(.link-item),
.menu-drawer .child-list > li:not(.link-item) {
     background-color: #e5e5e5;
     padding: 1rem 1rem 1rem 1.5rem;
}

.menu-drawer .menu-list > li:hover,
.menu-drawer .child-list > li:hover {
     cursor: pointer;
}

.menu-drawer li.link-item > a {
     display: block;
     width: 100%;
     height: 100%;
     padding: 1rem 1rem 1rem 1.5rem;
}

.menu-drawer .go-back {
     padding: 1rem;
     font-size: 1.2rem;
     border-bottom: 1px solid #e5e5e5;
     display: flex;
     align-items: center;
     gap: 1rem;
}

.menu-drawer .see-more,
.menu-drawer .see-less {
     padding: 1rem;
     font-size: 1.2rem;
     border-bottom: 1px solid #e5e5e5;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
}
.menu-drawer .see-more:hover,
.menu-drawer .see-less:hover {
     cursor: pointer;
}

.menu-drawer .see-more > i,
.menu-drawer .see-less > i {
     font-size: 1.3rem;
}

.menu-drawer .go-back > i {
     font-size: 1.5rem;
}

.menu-drawer .store-categories {
     transition:height 1s ease-out;
}

#menu-list {
     display: flex;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     background-color: rgb(var(--color-background));
}

.menu-drawer .child-list {
     position: absolute;
     top: 0;
     left: 0;
     display: none;
}

.menu-drawer .child-list.open {
     display: flex;
}

.main-header.mobile-open .sticky-mobile-header,
.main-header.mobile-open .mobile-header {
     display: none;
}

@media screen and (max-width: 768px) {
     #menu-list {
          gap: 1rem;
     }

     .menu-drawer .title {
          font-size: 1.1rem;
          padding: .75rem;
     }
     .menu-drawer .see-more,
     .menu-drawer .see-less {
          font-size: 1rem;
          padding: .3rem .5rem;
     }
     .menu-drawer .go-back {
          font-size: 1rem;
          padding: .5rem;
     }
     .menu-drawer .menu-list > li,
     .menu-drawer .child-list > li {
          font-size: 1rem;
          padding: .5rem;
     }

     .menu-drawer .menu-list > li:not(.link-item) {
          padding: .5rem .5rem .5rem 1rem;
     }

     .menu-drawer .menu-list > li.link-item {
          padding: 0;
     }

     .menu-drawer li.link-item > a {
          display: block;
          width: 100%;
          height: 100%;
          padding: .5rem .5rem .5rem 1rem;
     }

     .menu-drawer .go-back > i {
          font-size: 1.3rem;
     }
     .menu-drawer .see-more > i,
     .menu-drawer .see-less > i {
          font-size: 1.1rem;
     }
}