/**
 *
 * Custom Code
 *
**/
html {
     scroll-behavior: smooth;
}

*, ::before, ::after {
     box-sizing: border-box;
}

body, html {
     padding: 0 !important;
     margin: 0;
     color: #000;

     font-size: 12px;
     font-family: Muli, Helvetica, sans-serif;

     box-sizing: border-box;
}

a, button, a:hover, button:hover {
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

input:not([type='checkbox']), button, textarea {
     -webkit-appearance: none;
     -moz-appearance: none;
}

input:not([type='checkbox']):hover, input:not([type='checkbox']):active, input:not([type='checkbox']):focus {
     -webkit-appearance: none;
     -moz-appearance: none;

     outline: 0;
}

input:not([type='checkbox']), textarea {
     background-color: #fff;
     color: #000;
     border: 1px solid #e5e5e5;
     width: 100%;
     max-width: 100%;
     display: block;

     border-radius: 10px;
     padding: 10px;

     box-sizing: border-box;

     box-shadow: none;
}

form input:focus, form textarea:focus {
     border: 1px solid #000;
     border-radius: 10px;
}

form input:focus:invalid, form textarea:focus:invalid {
     border: 1px solid #e20303;
     border-radius: 10px;
}

button {
     background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

section, div {
     box-sizing: border-box;
}

a {
     color: #444;
     background: 0 0;
     text-decoration: none;

     box-sizing: border-box;
}

select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background-position: right center;
     background-image: url("//cdn.shopify.com/s/files/1/0515/9036/5353/t/13/assets/ico-select.svg?v=5287994586091692232");
     background-repeat: no-repeat;
     background-position: right 10px center;
     background-size: 6px;
     background-color: #f7f7f7;
     background-font-size: 14px;
     background--webkit-border-radius: 8px;
     background--moz-border-radius: 8px;
     background--khtml-border-radius: 8px;
     background-border-radius: 8px;
     padding-right: 28px;
     text-indent: .01px;
     text-overflow: '';
     cursor: pointer;
}

.page-wrapper {
     width: 100%;
     overflow: hidden;

     display: flex;
     flex-direction: column;
     align-content: center;

     position: relative;
}

body.open-nav,
body.open-search {
     overflow: hidden;
}

body.open-nav .page-wrapper::after,
body.open-search .page-wrapper::after {
     opacity: 1;
     visibility: visible;

     cursor: pointer;
}

body .page-wrapper::after {
     background: rgba(0,0,0,.6);
     position: fixed;
     top: 0;
     bottom: 0;
     content: '';
     left: 0;
     right: 0;
     -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
     -ms-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all .5s ease;
     -webkit-opacity: 0;
     -moz-opacity: 0;
     -khtml-opacity: 0;
     opacity: 0;
     visibility: hidden;
     z-index: 2;
}

@media screen and (max-width: 1440px) {
     .container {
          box-sizing: border-box;
          padding: 0 20px;
     }
}

.btn {
     outline: 0;
     letter-spacing: 1px;
     touch-action: manipulation;
     -ms-touch-action: manipulation;

     border: none;
     cursor: pointer;
     display: inline-block;
     font-weight: 600;
     font-size: 1.2rem;
     font-family: Muli,Helvetica,sans-serif;
     margin: 0;
     padding: 8px 16px;
     position: relative;
     overflow: hidden;
     text-align: center;
     vertical-align: middle;
     white-space: nowrap;
     -webkit-appearance: none;
     -moz-appearance: none;
     text-transform: capitalize;
     transform: perspective(1px) translateZ(0);

     transition-duration: .3s;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
     transition-property: all;
     transition-property: color, background-color;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -khtml-border-radius: 10px;
     border-radius: 10px;
}

.btn::after {
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -khtml-border-radius: 5px;
     border-radius: 5px;
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     height: 0;
     width: 100%;
     z-index: -1;
     content: '';
     color: #fff !important;
     transition: all .3s cubic-bezier(.215, .61, .355, 1) 0s;
}

/**
     Category List
**/
.page-wrapper > .category-menu {
     display: none;
     visibility: hidden;
}

.categories-list {
     z-index: 5;
}

/***
     MAIN PAGE CONTENT
***/

/**
     Page Content
**/
.site-inner {
     width: 100%;
}

.page-content-wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 25px;

     width: 100%;

     margin-bottom: 30px;

     line-height: 1;
}

.page-content-wrapper .page-content {
     width: 100%;
     padding: 2.5rem;

     border-radius: 30px;

     box-shadow: 0 0 5px 1px #e5e5e5;

     overflow: hidden;

     margin: .25%;
}

@media screen and (max-width: 768px) {
     .page-content-wrapper .page-content {
          padding: 20px;
     }
}

.page-content-wrapper .page-content h2 {
     margin: 0;

     position: relative;
     border-bottom: 1px solid #e5e5e5;
     padding-bottom: 10px;

     font-size: 2rem;
     margin-bottom: 15px;
     font-weight: 550;
     letter-spacing: 0;
     line-height: 1;
}

.page-content-wrapper .page-content .flex-header {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     align-content: center;

     gap: 15px;
}

.page-content-wrapper .page-content .flex-header > h2 {
     flex-grow: 1;
}

.page-content-wrapper .page-content .flex-header > button {
     padding: 10px;
     font-size: 1rem;
}

.page-content-wrapper .page-content h2::after {
     border-bottom: 3px solid #e20303;
     bottom: -2px;
     content: "";
     left: 0;
     position: absolute;
     right: auto;
     width: 100px;
}

.form-submit-center {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}

/**
     Customer
**/
/*
     Reset Password
*/
.reset-wrapper {
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 15px;

     max-width: 50%;
}

.reset-wrapper > h2 {
     margin-bottom: 0 !important;
}

.reset-wrapper > form {
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
}

/*
     Account Activation
*/
.activate-wrapper {
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 15px;

     max-width: 50%;
}

.activate-wrapper > h2 {
     margin-bottom: 0 !important;
}

.activate-wrapper > form {
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
}

/*
     Account
*/
.account-wrapper {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     align-items: flex-start;
     width: 100%;
}

.account-wrapper > .account-nav-wrapper {
     width: 25%;
     min-width: 25%;
}

.account-wrapper > .account-content {
     flex-grow: 1;
     position: relative;
}

/*
     Account Navigation
*/
.account-nav {
     display: flex;
     flex-direction: column;
}
.account-nav > .nav-header {
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;

     border-bottom: 1px solid #e5e5e5;
}
.account-nav > .nav-header > .title {
     display: flex;
     justify-content: center;
     align-items: center;

     gap: 10px;
}

.account-nav > .nav-header > .title > h1 {
     margin: 0;
     padding: 0;
     font-size: 2.2rem;
     font-weight: bold;
}

@media screen and (max-width: 1300px) {
     .account-nav > .nav-header > .title > h1 {
          font-size: 2rem;
     }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
     .account-nav > .nav-header > .title > h1 {
          font-size: 1.75rem;
     }
}

@media screen and (max-width: 768px) {
     .account-wrapper {
          flex-wrap: wrap;
     }
     .account-wrapper > .account-nav-wrapper {
          order: 2;
          width: 100%;
     }
}

.account-nav > .nav-header > .title > .icon {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     font-size: 24px;
     text-align: center;
     margin: 0;
}

.account-nav > .nav-header > p {
     font-size: 1.2rem;
     margin: 0;
     padding: 0 0 15px 0;
     text-align: left;
     letter-spacing: .5px;
}

.account-nav > .nav-list {
     list-style: none;
     padding: 0;
     margin: 0;

     font-size: 1.4rem;
     display: block;
}

.account-nav > .nav-list > li {
     border-bottom: 1px solid #e5e5e5;
}

.account-nav > .nav-list > li > a {
     padding: 10px 0;
     display: flex;
     align-items: center;
     gap: 10px;

     font-weight: bold;
}

.account-nav > .nav-list > li > a > i {
     font-size: 1.75rem;
}

/*
     Account Dashboard
*/
.page-content.account-content > .account-dashboard > h2 {
     margin-bottom: 25px;
}
.account-dashboard > .dashboard {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     align-content: center;

     gap: 15px;
}

.account-dashboard > .dashboard > .dashboard-item {
     flex-basis: 23%;
}

.account-dashboard > .dashboard > .dashboard-item > a {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;

     box-shadow: 0 0 5px 1px #e5e5e5;
     border: 1px solid #e5e5e5;
     border-radius: 15px;

     padding: 15px;
}

.account-dashboard > .dashboard > .dashboard-item > a > .icon {
     border-radius: 50%;
     width: 50px;
     height: 50px;
     font-size: 2.5rem;
     text-align: center;
     padding: 0;
     margin: auto;

     display: flex;
     justify-content: center;
     align-items: center;
}

.account-dashboard > .dashboard > .dashboard-item > a > .title {
     font-size: 1.8rem;
     font-weight: bold;
     text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
     .account-dashboard > .dashboard > .dashboard-item {
          flex: 1 1 0px;
     }
}

@media screen and (max-width: 767px) {
     .account-dashboard > .dashboard > .dashboard-item {
          flex-basis: 47%;
     }
     .page-content.account-content > .account-dashboard > h2 {
          font-size: 1.35rem;
     }
     .account-dashboard > .dashboard > .dashboard-item > a > .icon {
          font-size: 1.75rem;
          width: 36px;
          height: 36px;
     }
     .account-dashboard > .dashboard > .dashboard-item > a > .title {
          font-size: 1.25rem;
     }
}

/**
     Account Addresses
**/
.account-addresses {
     display: flex;
     flex-direction: column;
}

.account-addresses > .address-list {
     list-style: none;

     display: flex;
     flex-wrap: wrap;
     align-items: center;
     align-content: center;

     gap: 15px;

     padding: 0;
     margin: 0;
}

.account-addresses > .address-list > .address-block {
     padding: 0;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;

     gap: 10px;

     box-shadow: 0 0 5px 1px #e5e5e5;
     border: 1px solid #e5e5e5;
     border-radius: 15px;

     padding: 10px;

     width: 23%;
}

.account-addresses > .address-list > .address-block > p {
     text-align: left;
     line-height: 1.2;
     font-size: 14px;

     width: 100%;

     margin: 0;
}

.account-addresses > .address-list > .address-block.default > p {
     font-weight: bold;
}

.account-addresses > .address-list > .address-block > .address-btn {
     text-align: right;
     display: flex;
     justify-content: flex-end;

     width: 100%;

     font-weight: bold;
}

.account-addresses > .address-list > .address-block > .address-btn > a {
     color: #C00;
}
.account-addresses > .address-list > .address-block > .address-btn > a:hover {
     color: #700101;
}

.account-addresses > .add-address {
     width: 100%;
     order: 1;
}

/**
     Captcha
**/
.shopify-challenge__container.page-content > h2 {
     text-align: center;

     border-bottom: none;
     margin: 0;

     font-size: 2rem;
}

.shopify-challenge__container.page-content > h2::after {
     left: 50%;
     transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
     .page-content-wrapper > .shopify-challenge__container.page-content {
          padding: 15px;
     }
}

/**
     Subscribe to Email Marketing
**/

.page-content-wrapper > .shopify-email-marketing-confirmation__container.page-content > p {
     font-size: 1.009rem;
}

@media screen and (max-width: 768px) {
     .page-content-wrapper > .shopify-email-marketing-confirmation__container.page-content {
          padding: 15px;
     }
}

/**
     Helper
**/
.hidden {
     visibility: hidden;
     display: none;
}
.center-page {
     display: flex;
     justify-content: center;
     flex-direction: row;
}

/**
     Form Errors
**/
form > .errors > ul {
     list-style: none;
     padding: 0;
     margin: 0;
     text-align: center;
     color: red;
     font-size: 1.1rem;
     font-weight: bold;
}

/**
     Go To Top
**/
#GotoTop {
     border: 2px solid #fff;
     bottom: 90px;
     cursor: pointer;
     height: 24px;
     -webkit-opacity: 1;
     -moz-opacity: 1;
     -khtml-opacity: 1;
     opacity: 1;
     padding: 6px;
     position: fixed;
     right: 40px;
     text-align: center;
     width: 24px;
     line-height: 24px;
     z-index: 2;
     color: #fff;
     display: none;
     top: auto !important;
     font-size: 22px;
     color: #fff !important;

     box-sizing: unset;
}

/**
     Overwrite Base.css
**/
.shopify-challenge__container {
     margin: 0 auto;
}
.shopify-challenge__container.page-content > h2 {
     padding-bottom: 10px;
}