.account-wrapper {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     align-items: flex-start;
     width: 100%;
}

.account-wrapper > .account-nav-wrapper {
     width: 25%;
     min-width: 25%;
}

.account-wrapper > .account-content {
     flex-grow: 1;
     position: relative;
     margin-left: 20px;
}