/*
     Reset Password
*/
.reset-wrapper {
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 15px;

     max-width: 50%;
}

.reset-wrapper > h2 {
     margin-bottom: 0 !important;
}

.reset-wrapper > form {
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
}

@media screen and (max-width: 1240px) {
     .reset-wrapper {
          max-width: 80%;
     }
}

@media screen and (max-width: 768px) {
     .reset-wrapper {
          max-width: 100%;
     }
}