/**
     Footer
**/
.footer-wrapper {
     position: relative;

     display: flex;
     flex-wrap: wrap;

     width: 100%;
}

.footer-wrapper a {
     font: 600 13px/28px Muli,Helvetica,sans-serif;
     font-size: 13px;
     line-height: 28px;
     color: #ccc;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
/*
     Footer Main
*/
.footer-main {
     width: 100%;

     padding: 20px 0;
}

.footer-main > .container {
     display: flex;
     justify-content: space-between;
}

.footer-block {
     flex: 1 1 20%;
}

.footer-block.about_column {
     flex-basis: 25%;
     margin-right: 25px;
}

.footer-block > h1 {
     font-size: 20px;
     font-weight: bold;
     margin: 0 0 10px 0;
     text-align: left;
}

.footer-block > .footer-list {
     display: flex;
     flex-direction: column;

     list-style: none;
     padding: 0;
     margin: 0;
}

.footer-block > .footer-list > li {
     width: 100%;
}

.footer-block > .footer-list .payment_types {
     display: flex;
     flex-wrap: wrap;

     list-style: none;
     padding: 0;
     margin: 0;
}

@media only screen and (max-width: 1440px) {
     .footer-main > .container {
          box-sizing: border-box;
          padding: 0 20px;
     }
}

@media only screen and (max-width: 1024px) {
     .footer-main > .container {
          flex-direction: column;
          padding: 0;
     }

     .footer-main > .container > .footer-block {
          margin-bottom: 10px;
     }

     .footer-main > .container > .footer-block > * {
          padding: 0 5%;
     }

     .footer-main > .container > .footer-block > h1 {
          margin: 0 0 5px 0;

          cursor: pointer;
     }

     .footer-main > .container > .footer-block > .footer-list {
          padding: 0 7%;
     }

     /*.footer-block.dropdown > .footer-list {
          display: none;
          visibility: none;
     }

     .footer-block.dropdown.active > .footer-list {
          display: flex;
          visibility: visible;
     }*/

     .dropdown > h1::after {
          font-family: "Material Design Icons";
          content: '\f140';
          font-size: 18px;
          font-weight: 500;
          float: right;
     }

     .dropdown.active > h1::after {
          font-family: "Material Design Icons";
          content: '\f143';
          font-size: 18px;
          font-weight: 500;
          float: right;
     }

     .footer-block.about_column {
          margin: 0;
     }
}