.page-wrapper {
     overflow: visible;
}

.page-content.main-home {
     margin-top: 2.5rem;
     overflow: visible;
}

.main-home {
     width: 100%;

     display: flex;
     justify-content: flex-start;
     align-content: center;
     gap: 2rem;
}

.mega-menu-wrapper {
     width: calc(25% - 1rem);
     flex-shrink: 0;
     z-index: 1;
}

.main-home-content {
     flex-grow: 1;
     width: calc(75% - 1rem);
     display: flex;
     flex-direction: column;
     gap: 3.25rem;
     z-index: 0;
}

@media screen and (max-width: 1024px) {
     .mega-menu-wrapper {
          display: none;
     }
}

@media screen and (max-width: 768px) {
     .main-home-content {
          gap: 1.25rem;
     }
}