.account-wrapper {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     align-items: flex-start;
     width: 100%;
     gap: 1rem;
}

.account-wrapper > .account-nav-wrapper {
     width: 25%;
     min-width: 25%;
}

.account-wrapper > .account-content {
     flex-grow: 1;
     position: relative;
}

@media screen and (max-width: 1240px) {
     .account-wrapper {
          flex-wrap: wrap;
     }

     .account-wrapper > .account-nav-wrapper {
          display: none;
          visibility: hidden;
          width: 100%;
          max-width: 100%;
     }
}